*,p,form,h1,h2,h3,h4{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: One Dot Condensed Bold,Arial Narrow,Arial,Helvetica,sans-serif;
}


body {
    height: 100vh;
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
    'cabecalho'
    'principal'
    'rodape';
    overflow-y: scroll;
}


/* Cabeçalho da Página */
.cabecalho{
    grid-template: cabecalho;
    position: sticky;
    top: 0px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.589);
    z-index: 1;

}


/* Conteúdo Principal da Página */
.principal{
    grid-template: principal;
    background-color: #f8fbff;
    
}



